body{
	margin: 0;
	
	font-family: 'Helvatica', 'Arial', sans-serif;
	background-color: #4C1DB3;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: white;
	font-size: 40px;
}

header img{
	border: 10px solid grey;
}

main{
	max-width: 800px;
	
}